body{ padding-top: 15px; }

.container { margin: 0 auto; width: 70%; }

.intro{ overflow: hidden; }

.profile-pic{
  margin-top: 20px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  float: left;
}

.profile-pic img{
  width: 100%;
  border-radius: 180px;
}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p{ font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4, a { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav{ border-bottom: 1px solid #d5d5d5; }
div#title, nav{ text-align: center; }
div#title h1{ margin-bottom: 0; }
nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }
footer ul{ border-top: 1px solid #d5d5d5; font-size: .8em; padding-top: 15px;}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv section{ display: flex; justify-content: space-between;}
.cv section a{ padding: 48px 0; }
.td-bold { font-weight: bold; padding-right: 5vw;}

/* Portfolio */
#list-of-projects{ margin-bottom: 35px; }
.project { margin: 15px 0 0 0; }
.project a{ font-size: 1.5em; }
.project p{ margin: 0; }
.portfolio h4{ margin-bottom: 0; }

@media only screen and (min-width : 320px) and (max-width : 768px) {
  .container { margin: 0 auto; width: 95%; }
  .profile-pic { margin: 0 auto; margin-top: 25px; float: none;}
  p{ font-size: 1.3em; line-height: 1.4em; color: #333;}
}
