<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
  <header>
      <h1>Dandy Alfaz Ramadhan</h1>
  </header>
  
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cv/">CV</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>
  <footer>
    <ul>
      <li><a href="mailto:dandyalfaz@outlook.com">dandyalfaz@outlook.com</a></li>
      <li><a href="https://github.com/dandyar">github.com/dandyar</a></li>
    </ul>
  </footer>
</body>
</html>